$nav-item-bg-color: #16191d;
$nav-item-active-color: #31c7b2;

.nav-list {
  --horizontal-buffer: var(--global-space--section-left);
  --vertical-buffer: 0.75rem;
  --min-width: 100%;
  list-style: none;
  flex-direction: column;
}

.nav-link {
  min-width: var(--min-width);
  border: none;
  padding: 0.5rem 1rem;
  padding-left: var(--horizontal-buffer);
  color: #bdbdbd;
  cursor: pointer;
  display: block;
}

.nav-link:hover {
  color: #bdbdbd;
  text-decoration: none;
  background: rgba($nav-item-bg-color, 0.25);
}

.nav-link.active {
  color: #FFFFFF;
  background: rgba($nav-item-active-color, 1);
}

.nav-text {
  padding-left: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
}

.nav-content {
  display: flex;
  align-items: center;
}
