.array {
  //border: 1px solid gray;
  //padding: 0.5em 0.5em 0.5em 0.5em;
  //margin-bottom: 0.5em;
}

.array-item {
  border: 1px dashed gray;
  padding: 0.5em;
  margin-bottom: 0.5em;

  .end-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  margin-bottom: 8px;
}

.arg-label{
  font-weight: lighter;
  margin-bottom: 0;
}

.counter {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: auto;
  padding-right: 16px;
}

.item {
  border: 1px dotted lightgray;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 1em;
}

.array-group {
  //border: 1px dashed #ccc;
  //padding: 10px;
  //margin-bottom: 0.5em;
}

.description {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 0.5em;
}

.checksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkItem {
  flex: 1;
  padding: 0 10px;
}

.arg-container .col-form-label-sm.form-field__label{
  font-weight: lighter !important;
  color: #43d130;
}

.FieldArray_arg-container__3zkHO .form-field__label {
  font-weight: normal !important; // Adjust font-weight as needed
  color: #43d130;
}

// Ensure this is loaded after all other styles to maintain specificity
.FieldArray_arg-container__3zkHO {
  .form-field__label {
    font-weight: normal !important; // Force override to ensure it applies
  }
}
