.array {
  //border: 1px solid gray;
  //padding: 0.5em 0.5em 0.5em 0.5em;
  //margin-bottom: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  margin-bottom: 8px;
}

.counter {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: auto;
  padding-right: 16px;
}

.item {
  border: 1px dotted lightgray;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 1em;
}

.array-group {
  margin-bottom: 0.5em;
}

.description {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 0.5em;
}
