.tableContainer {
  width: 100%;
  //height: 600px;

  :global {
    //.MuiDataGrid-main {
    //}

    //.MuiDataGrid-columnHeaders {
    //  background-color: #15bd42;
    //  color: #000000;
    //}

    .MuiDataGrid-columnHeader {
      background-color: #f0f0f0;
    }

    .MuiDataGrid-root .MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderTitle {
      color: #337ab7;
      font-weight: 800;
    }

    .MuiDataGrid-columnHeaderTitle {
      color: #fff;
      font-weight: 800;
    }

    .MuiDataGrid-row--even {
      background-color: #f9f9f9;
    }

    .MuiDataGrid-row--odd {
      background-color: #e8e8e8;
    }

    .MuiDataGrid-cell {
      border-bottom: 1px solid #e0e0e0;
    }

    .MuiDataGrid-footerContainer {
      border-top: 2px solid #e0e0e0;
      min-height: 55px;
      display: flex;
      align-items: center;
      overflow: visible;
    }
  }
}

.actionsContainer {
  display: flex;
  gap: 0.3rem;
}

.actionButton {
  padding: 4px;
}

.noRowsOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorContainer {
  padding: 16px;
}

.gridContainer {
  padding: 16px;
  border: 1px solid #e0e0e0;
}
