$width: 240px;

.root {
  overflow: none;
  border-right: 1px solid rgba(112, 112, 112, 0.25);
  background: #707b88;
  color: #ffffff !important;
  * {
    color: inherit !important;
  }
}

.collapse-icon {
  padding: 0px;
  display: inline-block;
  margin: 8px 0px 8px 22px;
}

.collapse-icon:hover {
  cursor: pointer;
}
