.JobsTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.JobsTable th,
.JobsTable td {
  border:1px solid #e7ecf1;
  padding: 10px;
  width: 35%;
}

.JobsTable th {
  background-color: #f0f0f0;
  color: #337ab7;
  font-size: 14px;
  font-weight: 600;
}

.JobsTable td {
  align-items: center;
  height: 3rem;
  font-size: 14px;
}

.JobsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.JobsTable tr:hover {
  background-color: #e8e8e8;
}

.JobsTable .action-button {
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #337AB7;

   & > span {
     margin-left: 8px;
   }
 }

.JobsTable .pseudo-nav-link {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #337AB7;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}



.JobsTable .sorted-header {
  background-color: #e1e1e1;
}

