.header {
  padding: 0.75em 0 1em 0;
  background: #4f5a67;
  color: #ffffff;
}

.Jobs {
  //margin: 9px;
  // margin-top: 1cqi;
  //position: relative;
  //top: 10px;
  //right: 10px;
  padding: 1.5rem 0 0 1rem;
}

.Jobs-Help {
  padding-left: 1cap;
}
